body{
    margin: 0;
    padding: 0;
}
*{
    font-family: "Brandon Text", Arial, sans-serif;
}
#heading{
    width: 96%;
    margin: auto;
    display: flex;   
    justify-content: space-between;
}
#brand{
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1px;
    color: black;
    text-decoration: none;
}
#signIn{
    display: flex;
    font-size: 14px;
}
#cartButton{
    font-size: 24px;
    margin-top: -5px;
    color: black;
    /* background-color: black; */
}
.fa-lock{
    color: black;
}
#topRightSection{
    display: flex;
    gap: 28px;
    align-items: center;
}
#downArrow{
    border: none;
    color: gray;
}